name: deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-northeast-1
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "20.x"
          cache: "npm"
      - run: npm ci
      - run: npm run build
      - name: Sync files to S3 (prod)
        run: |
          aws s3 sync ./dist s3://lab.ebiyuu.com --delete
      - name: Invalidate CloudFront Cache
        run: |
          aws cloudfront create-invalidation --distribution-id EKB1HTX2S64FC --paths "/*"
